---
import { createHash } from "node:crypto";
import "../styles/aplayer.css";
import "aplayer/dist/APlayer.min.css";

interface Props {
    lrc_type: 1 | 2 | 3;
    audio: {
        name: string;          // 歌名（必填）
        artist: string;        // 艺术家（必填）
        url: string;           // 音频地址（必填，CDN / 本地）
        cover?: string;        // 封面
        lrc?: string;          // 歌词（lrc 文件或字符串）
        theme?: string;        // 单曲主题色
        type?: 'auto' | 'hls' | 'normal'; // 音频类型
    }[];
    id?: string;
    cacheable?: boolean;
}

const { lrc_type, audio, id: id_, cacheable = true } = Astro.props;

const id =
    (id_ ?? import.meta.env.DEV)
        ? `aplayer-${createHash("sha1").update(JSON.stringify(audio)).digest("hex")}`
        : `aplayer-${crypto.randomUUID()}`;
---

<div
    id={id}
    class="aplayer-container"
    data-lrc-type={lrc_type}
    data-audio={JSON.stringify(audio)}
    data-cacheable={cacheable}
>
    <div style="display: flex; justify-content: center;">
        <h1>APlayer Loading...</h1>
    </div>
</div>

<style>
    .aplayer-container {
        background: transparent;
        width: 100%;
    }
</style>

<script>
import APlayer from "aplayer";
import { PlayerManager } from "../utils/player_manager";

const aplayerManager = new PlayerManager(
    ".aplayer-container", 
    (container, dataset) => new APlayer({
        container,
        audio: JSON.parse(dataset.audio ?? "[]"),
        lrcType: Number(dataset.lrcType ?? 0),
        theme: "var(--color-accent)",
    }), 
    8
);
document.addEventListener("astro:page-load", () => {
    aplayerManager.init();
});
</script>
